html {
    min-height: 100%;
}

body {
    background-color: rgb(255, 122, 215);
    background-image: url(images/background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
header {
    height: 120px;
    text-align: center;
    
  
}


nav {
    background-color: rgba(0, 0, 0, 0.322);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    margin-top: 80px;
    padding-left: 240px;
    padding-right: 240px;

}

footer p {
    background-color: rgba(0, 0, 0, 0.507);
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 15px;
    color: azure;
}

h1 {
    font-size: 50px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}

p {
    font-size: 40px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;

}

.maps {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 1000px;
}
main img {
    padding-right: 70px;
    
}

main a {
    font-size:30px ;
}